[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/glbinding"]
	path = submodules/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "submodules/globjects"]
	path = submodules/globjects
	url = https://github.com/cginternals/globjects.git
[submodule "submodules/SFML"]
	path = submodules/SFML
	url = https://github.com/SFML/SFML.git